<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JamboCloud Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/User/IdeaProjects/JamboCloudAutomation">
        <classes>
            <class name="com.jambocloud.qa.tests.TasksTest">
                <methods>
                    <include name="taskPageTitleTest"/>
                    <include name="filterPanelTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>